<div class="form-signup">
  <div class=" row home-signup">
    <aside class="form-main">
      <h3>SIGN UP FORM</h3>
      <div class="card">
        <article class="card-body">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <!-- form-group// -->
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
            </div>

            <!-- form-group// -->
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
            </div>

            <!-- form-group// -->
            <div class="form-group">
              <%= f.label :パスワード %>
              <%= link_to "パスワードを忘れましたか？", "#", class: "float-right" %>
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>

            <!-- form-group// -->
            <div class="form-group">
              <%= f.label :パスワード確認用 %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password_confirmation" %>
            </div>

            <!-- checkbox // -->
            <%# 後でremember_me構築する %>
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox">パスワードを保存する</label>
              </div>
            </div>

            <!-- form-group// -->
            <div class="form-group">
              <%= f.submit "アカウントを作成する", class: "btn btn-primary btn-block" %>
            </div>

            <!-- form-group// -->
            <div class="form-group">
              <%= f.label :アカウントをお持ちの方はこちら %>
              <%= link_to "ログインする", root_path, class: "float-right" %>
            </div>
            
          <% end %>
        </article>
      </div>
    </aside>
  </div>
</div>
