<%# show %>
<% provide(:title, @user.name) %>

<div class="show">
  <div class ="show-top">
    <div class="show-left">
      <%= gravatar_for @user %>
    </div>
    <div class="show-right">
      <h1><%= @user.name %></h1>
      <h4>愛車：<%= @user.a_word %></h4>
      <h4>自己紹介：<%= @user.introduction %></h4>
    </div>
  </div>
  <div class="show-body">
    <div class="profile-setting-btn">
      <%= link_to "プロフィールを編集する", edit_user_path(current_user), class: "btn btn-info" %>
    </div>
  </div>
  <div class="show-bottom">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render 'micropost_users' %>
        </ol>
      <% end %>
      <%= paginate @microposts %>
  </div>
</div>