<%# show %>
<% provide(:title, @user.name) %>

<div class="show">
  <div class ="show-top">
    <div class="show-left">
      <%= gravatar_for @user %>
    </div>
    <div class="show-right">
      <h1><%= @user.name %></h1>
      <h2><%= @user.a_word %></h2>
      <h2><%= @user.introduction %></h2>
    </div>
  </div>
  <div class="profile-body">
    <div class="profile-setting-btn">
      <%= link_to "プロフィールを編集する", edit_user_path(current_user), class: "btn btn-info" %>
    </div>
  </div>
  <div class="profile-bottom">
  </div>
</div>